<form action="/create" method="post">
    <h3>Createa a Car</h3>

    <label>insert car</label>

    <div class="input-field">
        <input type="text" name="car" /> <!-- maybe car-->

    </div> <!-- .input-field from materialiseSCC-->

    <label>insert engine power</label>

    <div class="input-field">
        <input type="text" name="power" /> <!-- insert power-->

    </div>
    <button type="submit" class="btn">Create</button>
</form>

